extends layout

block layout-content
  div.View
  h1.Banner Example
  div.Message 
  div.Title
  h3 Example 
  h1 Example1
  span.details Example2
  div.NavButtons
  a(href="/user")
  div.NavButton Example
    p Welcome to #{title}
